/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    chosen { zmk,matrix-transform = &five_column_transform; };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp B  &kp L  &kp D  &kp W      &kp Z    &kp SEMI    &kp F    &kp O    &kp U      &kp J    &kp N  &kp R
&kp T  &kp S  &kp G  &kp Y      &kp H    &kp A       &kp E    &kp I    &kp Q      &kp X    &kp M  &kp C
&kp V  &kp K  &kp P  &kp COMMA  &kp DOT  &kp FSLH    &kp ESC  &kp ESC  &kp SPACE  &kp RET  &mo 2  &kp RALT
            >;
        };
    };
};
